.navbar {
  height: 10rem;

  .wrapper {
    max-width: 136.6rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    span {
      font-weight: bold;
    }

    .social {
      display: flex;
      gap: 2rem;
      img {
        width: 1.8rem;
        height: 1.8rem;
      }
    }
  }
}
