$font-primary: "Philosopher", sans-serif;

$color-primary: #0c0c1d;
$color-text-primary: lightgray;

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  box-sizing: inherit;
  font-size: 62.5%;
}

body {
  font-family: $font-primary;
  background-color: $color-primary;
  color: $color-text-primary;
  font-weight: 300;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  height: 100vh;
  scroll-snap-align: center;
}
